<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @audio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @audio.description %>
</p>

<p>
  <strong>Sound:</strong>
  <%= @audio.sound %>
</p>

<p>
  <strong>User:</strong>
  <%= @audio.user_id %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
